name: Run pytest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, dev]

jobs:
  pytest:
    name: Run pytest
    runs-on: ubuntu-latest
    environment: pypi
    strategy:
      matrix:
        python-version: [ "3.11", "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install .[test]

      - uses: pavelzw/pytest-action@v2
        env:
          ENA_WEBIN: ${{ secrets.ENA_WEBIN }}
          ENA_WEBIN_PASSWORD: ${{ secrets.ENA_WEBIN_PASSWORD }}
        with:
          emoji: false
          verbose: true
          job-summary: true
