name: Run pytest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pytest_38:
    name: Run pytest 3.8
    runs-on: ubuntu-latest
    environment: pypi
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: pip install .[test]
      - uses: pavelzw/pytest-action@v2
        env:
          ENA_WEBIN: ${{ secrets.ENA_WEBIN }}
          ENA_WEBIN_PASSWORD: ${{ secrets.ENA_WEBIN_PASSWORD }}
        with:
          emoji: false
          verbose: true
          job-summary: true

  pytest_39:
    name: Run pytest 3.9
    needs:
    - pytest_38
    runs-on: ubuntu-latest
    environment: pypi
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: pip install .[test]
      - uses: pavelzw/pytest-action@v2
        env:
          ENA_WEBIN: ${{ secrets.ENA_WEBIN }}
          ENA_WEBIN_PASSWORD: ${{ secrets.ENA_WEBIN_PASSWORD }}
        with:
          emoji: false
          verbose: true
          job-summary: true

  pytest_310:
    name: Run pytest 3.10
    needs:
    - pytest_39
    runs-on: ubuntu-latest
    environment: pypi
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: pip install .[test]
      - uses: pavelzw/pytest-action@v2
        env:
          ENA_WEBIN: ${{ secrets.ENA_WEBIN }}
          ENA_WEBIN_PASSWORD: ${{ secrets.ENA_WEBIN_PASSWORD }}
        with:
          emoji: false
          verbose: true
          job-summary: true
